html, body {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure the body takes up the full width */
    height: 150%;
  }

.nav-bar-projects {
    display: flex;
    justify-content: center; /* Optional: Center items horizontally */
    align-items: center;     /* Optional: Center items vertically */
    width: 100%;    
    background-color: #DCD0F4;
    margin-left: 1%;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.proj-topic {
    padding: 15px;
    text-decoration: none;
    color: #000000;
}

.proj-topic a {
    padding: 15px;
    text-decoration: none;
    color: #000000;
}
.proj-topic a:hover {
    background-color: #000000;
    color: white;
    border-radius: 10px;
}

.project-type {
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    padding: 20px;
}

.project-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.project-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(20%) fit-content(10%) fit-content(70%);
    background-color: white;
    border-radius: 10px;
    width: 30%;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.proj-title {
    padding: 20px;
    text-align: center;
    grid-row: 1;
    border-bottom: #000000 1px solid;
    font-size: 20px;
}

.proj-skills {
    grid-row: 2;
    border-bottom: black 1 px solid;
    text-align: center;
    padding: 5px;

    background-color: #BBEEC3;
}
.proj-des {

    margin: 10px;
    margin-top: 20px;
    grid-row: 3;
}