html, body {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure the body takes up the full width */
  }

.nav-bar-projects {
    display: flex;
    justify-content: center; /* Optional: Center items horizontally */
    align-items: center;     /* Optional: Center items vertically */
    width: 100%;    
    background-color: #DCD0F4;
    margin-left: 1%;
}

.proj-topic {
    padding: 15px;
    text-decoration: none;
    color: #000000;
}

.proj-topic a {
    padding: 15px;
    text-decoration: none;
    color: #000000;
}
.proj-topic a:hover {
    background-color: #000000;
    color: white;
    border-radius: 10px;
}

.project-type {
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    padding: 20px;

}